<div class="container">
	
<div class="panel panel-default">
  <div class="panel-heading center">
    <h2 class="panel-title"> What is The Yellowjacket?</h2>
  </div>
  <div class="panel-body">
    <p>The Yellowjacket is a Bitcoin mining device that connects to your computer via USB. It’s based on the Bitfury chip, which means it’s capable of 2.2GH (GigaHashes) per second at default settings – no overclocking or pencil modding required!
</p>
  </div>
</div>
	
<div class="panel panel-default">
  <div class="panel-heading center">
	<h2 class="panel-title"> Will it work with cgminer and bfgminer?</h2>
  </div>
  <div class="panel-body">
	<p>Yes, both cgminer and bfgminer have out of the box support for the Yellowjacket.</p>
   </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading center"> 
  <h2 class="panel-title"> Will it work with BitMinter?</h2>
  </div>
  <div class="panel-body">
  <p>Unfortunately, not right now. I’ve been in contact with the BitMinter team and they’re looking into getting it supported.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading center">	
	<h2 class="panel-title"> Will you ship globally?</h2>
  </div>
  <div class="panel-body">
	<p>Absolutely! Anywhere carriers will take the Yellowjacket, we’ll ship it. Unfortunately if your country is under sanction we probably can’t ship to you as we’d get thrown in jail or something.</p>
  </div>
</div>	

<div class="panel panel-default">
  <div class="panel-heading center"> 
  <h2 class="panel-title"> Where will the Yellowjacket ship from?</h2>
  </div>
  <div class="panel-body">
  <p>The units will be shipping from either China or Australia if you buy from <%= link_to "www.bitgtr.com.", "http://www.bitgtr.com/" %> Where our resellers ship from is up to them.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading center"> 
  <h2 class="panel-title"> What are the Yellowjacket’s dimensions and weight?</h2>
  </div>
  <div class="panel-body">
  <p>47.5mm * 30mm * 3mm; the unit will weigh roughly 0.02kg.</p>
  </div>
</div>  

<div class="panel panel-default">
  <div class="panel-heading center">	
	<h2 class="panel-title"> What is the return policy?</h2>
  </div>
  <div class="panel-body">
	<p>If your Yellowjacket is busted due to manufacturer defect or shipping damage, simply drop us an email within 90 days of purchase and we’ll send you a postage paid label to ship it back to us. Once we’ve received it and determined it’s a fault covered under warranty, we’ll send you a new unit. If we’re out of stock we’ll give you the choice of a refund or a new unit once we have them back in stock.</p>
  </div>
</div>  	

<div class="panel panel-default">
  <div class="panel-heading center">	
	<h2 class="panel-title"> What kind of hashrate is the Yellowjacket capable of?</h2>
  </div>
  <div class="panel-body">
	<p>Out of the box you’re going to get between 1.9 and 2.2GH (GigaHashes) per second. I’ve been getting between 2.4-2.6GH/s pretty steadily thanks to overclocking, but please remember that if you’re going to overclock you will need a fan and/or heatsink.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading center">	
	<h2 class="panel-title"> What do I need to run the Yellowjacket?</h2>
  </div>
  <div class="panel-body">
	<p>A computer of some description (with USB ports capable of supplying at least 0.5A and 2.5W of power), and either <%= link_to "cgminer", "http://ck.kolivas.org/apps/cgminer/" %> or <%= link_to "bfgminer", "https://github.com/luke-jr/bfgminer" %>. Ideally you’ll also have a <%= link_to "powered USB hub", "http://www.amazon.com/Release-Anker%C2%AE-Uspeed-Charging-Adapter/dp/B005NGQWL2" %> and a <%= link_to "fan", "http://www.amazon.com/ARCTIC-USB-Powered-Portable-Cooling-Solution/dp/B003XN24GY" %> to keep them cool – they will get quite hot while hashing!</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading center">	
	<h2 class="panel-title"> Where can I get the yellowjacket?</h2>
  </div>
  <div class="panel-body">
	<p>Before mid-January, preorders are being taken at the <%= link_to "Hashrate Products", "https://www.hashratestore.com/shop/asic/nanofury-yellowjacket-bitfury-usb-asic/" %> website. Once the units are finished and shipping you’ll be able to order from them or directly from me here at <%= link_to "www.bitgtr.com.", "http://www.bitgtr.com/" %>. I’m also speaking to several other resellers around the world, and will link to them as agreements are reached.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading center">	
	<h2 class="panel-title"> When is the yellowjacket on sale?</h2>
  </div>
  <div class="panel-body">
	<p>The Yellowjacket will officially go on sale sometime in mid-January. Before then, please check the Hashrate Products webstore, linked above.</p>
	</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading center"> 
  <h2 class="panel-title"> You’ve said you’re based in Australia; is the Yellowjacket priced in AUD?</h2>
  </div>
  <div class="panel-body">
  <p>No, all prices are in USD. We believe this is probably about as fair as we can get, since we have customers from all over the world.</p>
  </div>
</div>


<div class="center question">
	<%= link_to "Have a question?", contact_path, class: "btn btn-warning tn-lg " %>
</div>

</div>