<div class="container">
<footer class="footer">
  <small>
    <p>© 2013 Bitgretiefter LTD. All rights reserved. - Yellowjacket Mining ASIC</p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Buy", buy_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><%= link_to "AMA", "http://www.reddit.com/r/BitcoinMining/comments/1suom9/iama_guy_whos_sunk_his_life_savings_into_mass/" %></li>
    </ul>
  </nav>
</footer>
</div>